body{
    background:url(coral2.jpg);
    margin: 5px;
    color: white;
}

#head-title{
    text-align: center;
    padding: 0px 0px 30px 0px;
}
#nav-title{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;

}
#paragrafo{
    padding: 20px;
}
a{
    color: white;
    padding: auto;
    display: inline-block;
    text-decoration: none; 
    margin:0px 100px ;
}
table, th, td{
    border: black 1px solid;
    width:100%;

}
td{
    text-align: center;
}
#table-top{
    text-align: center;
    border: solid 1px black;
    margin: 0px 0px 5px 0px;
    
}
th, td{
    width: 15%;

}
article{
    padding: 10px 10px 10px 10px;
}
#title-h3{
    text-align: center;
    padding: 15px;
    margin: 0px 750px 0px 0px;
    
}
#picture4{
    width: 60%;
    float: left;
}
#text-2{
    text-align:end;
    display: inline
}
a:hover{
    background-color: red;
}
aside{

    background-color: red;
    width: 30%;
    height: 10%;
    vertical-align: top;
}
#artigo-footer{
    display: inline;
}