h1 {
    text-align: center;
  }
  header{
      text-align: center;
  }
  h3{
      text-align: center;
  }
  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    margin: auto;
    display: block;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }
  .lista {
      display:block;
      text-align: center;
  }
  .inline{
      display:inline-block;
      margin-left: 33%;
      
  }
  .inline1{
    display: inline-block;
    margin-right: auto;
  }
  li{
      display: inline;
      
  }