

/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 10px;
    font-size: 30px;
    border: 1px solid black;
  
  }
  
  article {
  
  }
  
  h1 {
    font-size: 25px;
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      padding: 50px;


  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 2px;
  }
  
  figcaption {
    font-size: .8em;
  }

  p{
     margin: 10px; 
     border: 1px solid black;
  }

  @media screen and (max-width:800px){

    body{
        font-size: x-large;
        background-color: blueviolet;
        font-size: 20px;
        max-width:max-content;
    }

    figcaption {
        font-size: 20px;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
        

      }
    h1{
        text-align: center;
        font-size: 40px;
    }  
    h2{
        font-size: 30px;
        text-align: center;
    }
    img{
        margin-top: 5px;
        width: 150px;
        height: 150px;
        padding: 0px;
    }

    .Photo{
        margin-left: 20%;
        width: 60%;
        display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
     /*    border: 1px black solid; */
        
      
    }

    figure{
        margin: 15px;
        display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    align-items: center;
      /*   border: 1px black solid; */
        
        
    }
    p{
        padding: 20px;
    }
    

}
@media  screen and (min-width:801px) and (max-width:1299px) {
    body{
        background-color: green;
    }
    
}

@media screen and (min-width:1300px){

    body{
        font-size: x-large;
        background-color: rgb(226, 43, 43);
        font-size: 20px;
    }

    figcaption {
        font-size: 20px;
        

      }
    h1{
        text-align: center;
        font-size: 40px;
    }  
    h2{
        font-size: 30px;
        text-align: center;
    }
    img{
        width: 300px;
        height: 300px;
        padding: 20px;
    }

    .Photo{
        margin-left: 20%;
        width: 60%;
        display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
        border: 1px black solid;
      
    }

    figure{
        margin: 30px;
        display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    align-items: center;
        border: 1px black solid;
        background-color: aliceblue;
        
        
    }
    p{
        background-color: aliceblue;
    }

}