ol{
    background-color: yellow;
}
ol li.impar{
   text-transform: uppercase;
  

} 
ol li.par{
    font-weight:bolder;
    color:green;
}    
.header{
    color: red;
}
h1.header{
    font-size: 40px;
    border: 1px black solid;
}
li{
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.lista{
    color:blue
}
.java{
    background-color: hotpink;
}
ul li.footer:hover{
    font-weight: bolder;

}
.footer:active{
    color: ivory;
}
.l1:hover{
    background-color:orange ;
}
.l2:hover{
    background-color: greenyellow;
}
.l3:hover{
    background-color: black;
}
.l4:hover{
    background-color: yellow;
}
.l5:hover{
    background-color: green;
}