p, h1, ul,ol {
    text-align: center;
}

ul, ol{
    padding:10px 800px 10px;
    background-color: blueviolet;
    margin: 0px,0px,0px,2px;
    list-style: none
    
}
li:hover{
    background-color: rgb(223, 7, 7);
}
li:active{
    
    color: rgb(252, 252, 252);
}

p{
    font-size: 30px;
}