div:hover{
    border: darkmagenta solid 5px;
}
div:active{
    color: white;
}

#div1{
background-color: blue;
font-style: italic;
}
#div2{
background-color: brown;
}
#div3{
background-color: chartreuse;
font-size: 25px;
padding: 25px;
font-style: italic;

}
#div4{
background-color: crimson;
}
#div5{
background-color: darkorchid;
font-style: italic;
}
body{

}