
#form-body{
    border: solid 3px black;
    width: 50%;
    padding: 15px;
}

div{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#description{
    resize:none;
    display: block;
}
button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
form{
    background-color: rgb(236, 234, 234);
}