


div{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
form{
    background-color: rgb(236, 234, 234);
}
body{
    padding: 20px;
}
h1{
    text-align: center;
}